.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.map{
    width: 100%;
    height: 100vh;
}

.search-bar{
    width: 150px;
    height: 20px;
    position: absolute;
    top:60px;
    left:10px;
}

.search-bar input{
    width: 180px;
    height: 30px;
}

.labels {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #59ea35;
    background-color: #f4efef;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 30px;
    padding: 2px;
    border: 1px solid #999;
    box-sizing: border-box;
    white-space: nowrap;
}