body{
    margin: 0;
}

.nav{
    display:flex;
    align-items: center;
    padding: 10px;
    width:340px;
    height:30px;
    background-color: #0E578D;
    border-radius: 12px 12px 0 0;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:32px;
    height:32px;
    border-radius: 50%;
    background-color: #BDE3FF;
    margin-right: 10px;
}

.logo .text{
    color: #0D99FF;
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.wakachiau{
    color: #BDE3FF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.PARKING{
    color: #BDE3FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.menu_container{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
}

.MENU{
    width: 80px;
    height: 32px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border-radius: 12px;
}

   
  
 