<div class="alert-page-black-back" id="alert-page-black-back">
    <div class="alert-page-container" id="alert-page-container">
        <div class="header">
            <div>溫馨提醒</div>
        </div>
        <div class="alert-page-information-none" id="alert-content"></div>
        <div class="alert-page-information" id="alert-page-information">
            <button class="alert-button" id="alert-content-checked-button">確認</button>
        </div>
        <div class="footer"></div>
    </div>
</div> 