<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
   <nav class="nav">
    <div class="logo">
        <div class="text">享</div>
    </div>
    <div>
        <div class="wakachiau">wakachiau</div>
        <div class="PARKING">PARKING</div>
    </div>
    <div class="menu_container">
        <button class="menu" id="menu">MENU</button>
    </div>
   </nav>
   <div class="menu-hidden" id="menuContent">
    <div class="list">帳戶資訊</div>
    <div class="list">你的車車</div>
    <div class="list">篩選條件</div>
    <div class="list">停車頁面</div>
    <div class="list">停車紀錄</div>
    <div class="list">通報業主</div>
    <div class="list">付款頁面</div>
    <div class="list">登入</div>
   </div>
    <div class="signin-container">
        <div class="header">
            <div>登入帳戶</div>
            <button class="close"><img src="../static/IMAGE/close.png"></button>
        </div>
        <form class="signin-form" id="signin-form" action="/signin" method="PUT">
            <div class="input-box">
                <label for="account" class="consistent-text">帳號：</label>
                <input type="text" id="account" name="account" class="text" placeholder="請輸入帳號">
            </div>
            <div class="input-box">
                <label for="account" class="consistent-text">密碼：</label>
                <input type="text" id="password" name="password" class="text" placeholder="請輸入密碼">
            </div>
            <button class="signin-button" id="signin-button">登入</button>
            <div class="signininfor"></div>
            <div class="signon-container">還沒有帳戶？<button class="go-signon">點此註冊</button></div>
        </form>
        <div class="footer"></div>
    </div>
    <!-- <div class="signon-container">
        <div class="header"></div>
        <form class="signon-form" id="signon-form" action="/signon" method="POST">
            <div class="title-container">
                <div class="title">註冊會員帳號</div>
                <button class="close" id="close"><img src="../static/IMAGE/close.png"></button>
            </div>
            <input type="text" name="name" class="text" placeholder="請輸入姓名">
            <input type="text" name="email" class="text" placeholder="請輸入電子信箱">
            <input type="password" name="password" class="text" placeholder="請輸入密碼" autocomplete="new-password">
            <button class="signon-button" id="signon-button">註冊新帳戶</button>
            <div class="signoninfor"></div>
            <div class="signon-container">已經有帳戶了？<button class="return-signin">點此登入</button></div>
        </form>
    </div> -->
{% block content %}
   <main class="main">
    
 
   </main>
{% endblock content %} 
   <footer class="footer">
    <div class="footer_content">
        <img src="../static/IMAGE/logo C.png" alt="Logo">
        2023 PARKING
    </div>
   </footer>
   <script src="../static/JS/base.js"></script>
</body>
</html>