<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/plate_board.css">
    <link rel="stylesheet" href="../static/CSS/alert.css">
    <title>首頁</title>
</head>
<body>
    {% include 'nav.html' %} {% include 'sign_system.html' %}
    {% include 'alert_page.html' %}
    <div class="plate-board-container">
        <div class="parking-lot-page" id="parking-lot-page">
            <div class="information-page-header">
                <div>車牌頁面</div>
            </div>
            <div class="separator"></div>
            <div id="parking-lot-container">
                <div class="parking-lot-page-table" id="parking-lot-page-table">
                    <div class="parking-lot-information-page-go-button" id="parking-lot-information-page-go-button">ABC-1234</div>
                    <div class="image"><img src="../static/IMAGE/noimage.png"></div>
                </div>
                <div class="separator"></div>
            </div>
            <button class="edit-button" id="plate-board-edit-button">編輯</button> 
        </div>
        <header class="plate-board-container-header" id="plate-board-container-header">
            <div class="text">上傳車車編號與圖片</div>
            </br>
            車牌編號：<input type="text" name="message_content" class="message_content" id="plate-board-number" placeholder="ex.AAA-1234">
            <form>
                <label for="file">上傳車車圖片檔案</label>
                <input type="file" id="car-img-file" name="file" multiple>
                </br>
                <input type="submit" id="plate-board-data-submit" value="送出">
                <div class="car-page-message" id="car-page-message"></div>   
            </form>
        </header>
    </div>
    {% include 'foot.html' %}
    <script src="../static/JS/car_page.js"></script>
    <script src="../static/JS/base.js"></script>
</body>
</html>