<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/cash_flow_record.css">
    <title>首頁</title>
</head>
<body>
    {% include 'nav.html' %} {% include 'sign_system.html' %}
    <div class="cash-record-selector">
        <select id="data-type-selector">
            <option value="type1">儲值紀錄</option>
            <option value="type2">停車紀錄</option>
            <option value="type3">停車場收入</option>
        </select>
        <select id="time-range-selector">
            <option value="this_week">本週</option>
            <option value="this_month">本月</option>
            <option value="all">全部</option>
            <!-- 其他時間範圍 -->
        </select>
    </div>
    <div class="plate-board-container">
        <div class="plate-board-information" id="plate-board-information">
            <div id="record-date">日期: 2023-01-01</div>
            <div id="record-car-board">收入金額: $1000</div>
            <div id="record-parking-lot-name">收入金額: $1000</div>
            <div id="record-square-number">支出金額: $500</div>
            <div id="record-start-time">備註: 購物</div>
            <div id="record-stop-time">備註: 購物</div>
            <div id="record-payment">備註: 購物</div>
        </div>
    </div>
    {% include 'foot.html' %}
    <script src="../static/JS/cash_record.js"></script>
    <script src="../static/JS/sign_system.js"></script>
    <script src="../static/JS/base.js"></script>
</body>
</html>