<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/id.css">
    <title>首頁</title>
</head>
<body>
    {% include 'nav.html' %} {% include 'sign_system.html' %}
    <div class="information-container" id="information-container">
        <div class="information-header">
            <div>帳戶資訊</div>
            <button class="close" id="close-information"><img src="../static/IMAGE/close.png"></button>
        </div>
        <form class="information-form" id="information-form">
            <!-- <div class="input-box">
                <label for="account" class="consistent-text">帳號：</label>
                <input type="text" id="account-information" name="account-signon" class="text" placeholder="請輸入帳號">
            </div> -->
            <div class="input-box">
                <label for="password" class="consistent-text">密碼：</label>
                <input type="text" id="password-information" name="password-signon" class="text" placeholder="請輸入密碼">
            </div>
            <div class="input-box">
                <label for="name" class="consistent-text">姓名：</label>
                <input type="text" id="name-information" name="name" class="text" placeholder="請輸入姓名">
            </div>
            <div class="input-box">
                <label for="e-mail" class="consistent-text">e-mail：</label>
                <input type="text" id="email-information" name="e-mail" class="text" placeholder="請輸入電子郵件">
            </div>
            <div class="input-box">
                <label for="birthday" class="consistent-text">生日：</label>
                <input type="text" id="birthday-information" name="birthday" class="text" placeholder="請輸入出生年月分">
            </div>
            <div class="input-box">
                <label for="callPhone" class="consistent-text">手機：</label>
                <input type="text" id="callPhone-information" name="callPhone" class="text" placeholder="請輸入手機號碼">
            </div>
            <button class="storage-button" id="id_page_storage-button" type="button">儲存</button>
        </form>
        <div class="id-edit-success-message" id="id-edit-success-message"></div>
        <div class="footer"></div>
    </div>
    <div class="information-page" id="information-page">
        <div class="information-page-header">
            <div>帳戶資訊</div>
        </div>
        <div class="information-table" id="information-table">
            <table>
              <tr>
                <th class="consistent-text">會員編號：</th>
                <td class="infor-data" id="id_page_id_number">rfv406406</td>
              </tr>
              <tr>
                <th class="consistent-text">帳號：</th>
                <td class="infor-data" id="id_page_account">rfv406406</td>
              </tr>
              <tr>
                <th class="consistent-text">姓名：</th>
                <td class="infor-data" id="id_page_name">康智偉</td>
              </tr>
              <tr>
                <th class="consistent-text">e-mail：</th>
                <td class="infor-data" id="id_page_e-mail">rfv406406@gmail.com</td>
              </tr>
              <tr>
                <th class="consistent-text">生日：</th>
                <td class="infor-data" id="id_page_birthday">1911.01.10</td>
              </tr>
              <tr>
                <th class="consistent-text">手機：</th>
                <td class="infor-data" id="id_page_phone">0987654321</td>
              </tr>
            </table>
            <button class="edit-button" id="id_page_edit-button">編輯</button>
        </div>
    </div>
    {% include 'foot.html' %}
    <!-- <script src="../static/JS/google map index.js"></script> -->
    <script src="../static/JS/id.js"></script>
    <script src="../static/JS/base.js"></script>
</body>
</html>