<nav class="nav">\
    <div class="home" id="home">
        <div class="logo">
            <div class="text">享</div>
        </div>
        <div>
            <div class="wakachiau">wakachiau</div>
            <div class="PARKING">PARKING</div>
        </div>
    </div>    
    <div class="menu_container">
        <button class="menu" id="menu">MENU</button>
    </div>
</nav>
   <div class="menuContent" id="menuContent">
    <div class="list" id="cash-point"></div>
    <div class="list" id="signin-button-list">請登入以使用更多功能~</div>
    <div class="list" id="id">帳戶資訊</div>
    <div class="list" id="parking-lot-button-list">停車場管理</div>
    <div class="list" id="car_page">你的車車</div>
    <div class="list" id="selector">篩選條件</div>
    <div class="list" id="parking-page-button-list">結帳頁面</div>
    <div class="list" id="deposit-and-pay-page-button">儲值頁面</div>
    <div class="list" id="cash-record-page-button">交易紀錄頁面</div>
    <div class="list">通報業主</div>
   </div>