    <div class="black-back" id="packing-page-black-back">
        <div class="packing-page-container" id="packing-page-container">
            <div class="header">
                <div>停車頁面</div>
                <button class="close" id="close-packing-page"><img src="../static/IMAGE/close.png"></button>
            </div>
            <div class="packing-page-information" id="packing-page-information">
                <!-- <div class="parking_lot-image">
                    <div class="image"><img id="parking-lot-image"></div>
                    <div class="pot_container"></div>
                </div> -->
                <div class="packing-page-container-input-box" style="display: none;">
                    <div class="consistent-text">ID：</div>
                    <div id="packing-page-parking-lot-id"class="text">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text">名稱：</div>
                    <div id="packing-page-parking-lot-name"class="text">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text">地址：</div>
                    <div id="packing-page-parking-lot-address"class="text">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text">車位編號：</div>
                    <div class="text" id="packing-page-parking-lot-space-number">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text">每小時價格：</div>
                    <div id="packing-page-parking-lot-price"class="text">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text">開始時間：</div>
                    <div id="packing-page-parking-lot-start-time"class="text">123停車場</div>
                </div>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text" id="timerDisplay"></div>
                    <!-- <button id="startTimer"></button> -->
                </div>
                <button class="signin-button" id="parking-stop-button">結帳</button>
                <div class="packing-page-container-input-box">
                    <div class="consistent-text" id="cancel-message"></div>
                    <!-- <button id="startTimer"></button> -->
                </div>
            </div>
            <div class="packing-page-information-none" id="packing-page-information-none">
                <div>目前尚無停車資訊</div>
            </div>
            <div class="packing-page-car-board-selected" id="packing-page-car-board-selected">
                <select class="selector" id="car-board-number-selector">
                    <option value="" selected disabled>選擇車牌</option>
                </select>
                <button class="signin-button" id="car-board-checked-button">確認</button>
            </div>
            <div class="footer"></div>
        </div>
    </div> 
