<div class="parking_lot-information-container">
    <div class="parking_lot-image">
        <button class="button-img-left" id="button-img-left"></button>
        <div class="image"><img id="parking-lot-image"></div>
        <div class="pot_container"></div>
        <button class="button-img-right" id="button-img-right"></button>
    </div>
    <div class="parking_lot-information">
        <div class="parking_lot-name" id="parking-lot-name">春光公園地下停車場</div>
        </br>
        <div class="parking_lot-address" id="parking-lot-address">11081台北市信義區忠孝東路五段666號</div>
        </br>
        <div class="parking_lot-address" id="parking-lot-near-landmark">靠近新光三越</div>
        </br>
        <div class="parking_lot-address" id="parking-lot-holder-phone">聯絡電話:0987654321</div>
        <button class="button" id="navigation">導航</button>
        <select class="selector" id="data-type-selector">
            <option value="" selected disabled>選擇車位</option>
        </select>    
        <div class="parking_lot-information-data">
            <div class="parking_lot-information-data-title">停車每小時</div>
            <div class="parking_lot-information-data-title">剩餘車位</div>
            <div class="parking_lot-information-data-title">開放時間</div>
        </div>
        <div class="parking_lot-information-data-render">
            <div class="parking_lot-information-data-render-data" id="parking-lot-price">50$</div>
            <div class="parking_lot-information-data-render-data" id="parking-space-total-number">1位</div>
            <div class="parking_lot-information-data-render-data" id="parking-lot-opening-time">06:00~18:00</div>
        </div>
        <div class="parking_lot-information-data">
            <div class="parking_lot-information-data-title">空間位置</div>
            <div class="parking_lot-information-data-title">高度限制</div>
            <div class="parking_lot-information-data-title">寬度限制</div>
        </div>
        <div class="parking_lot-information-data-render">
            <div class="parking_lot-information-data-render-data" id="parking-lot-in-out">室外</div>
            <div class="parking_lot-information-data-render-data" id="parking-lot-height">2.0 m以下</div>
            <div class="parking_lot-information-data-render-data" id="parking-lot-width">2.0 m以下</div>
        </div>
        <div class="button-container">
            <button class="button" id="button-parking-reservation">預約車位</button>
            <button class="button" id="button-parking-booking">我要停車</button>
        </div>
        <div class="separator"></div>
        <div>
        停車資訊
            </br>
        </br>停車未滿1小時，以1小時計，之後未滿30分鐘以30分鐘計，進場5分鐘內免費，按下停止計費按鈕後請於5分鐘內離場。
        </br>預約車位將為您保留十分鐘，時間過後將開始計費，未滿1小時，以1小時計，之後未滿30分鐘以30分鐘計。
        </div>
        <div class="separator"></div>
    </div>
</div>
