<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/selector.css">
    <title>首頁</title>
</head>
<body>
    {% include 'nav.html' %} {% include 'sign_system.html' %}
    <!-- 價格滑塊 -->
    <div class="range-slider">
        <div class="slider-label">價格：</div>
        <input class="consistent-text" type="range" min="0" max="100" value="0" id="rangeMaxPrice" step="5">
        <div class="value" id="valuePrice">0元</div>
    </div>
    <!-- 距離滑塊 -->
    <div class="range-slider">
        <div class="slider-label">距離：</div>
        <input class="consistent-text" type="range" min="0" max="2000" value="0" id="rangeMaxDistance" step="200">
        <div class="value" id="valueDistance">0 m</div>
    </div>
    <!-- 車長滑塊 -->
    <div class="range-slider">
        <div class="slider-label">車長：</div>
        <input class="consistent-text" type="range" min="0" max="10" value="0" id="rangeMaxLength" step="0.5">
        <div class="value" id="valueLength">0 m以下</div>
    </div>
    <!-- 車寬滑塊 -->
    <div class="range-slider">
        <div class="slider-label">車寬：</div>
        <input class="consistent-text" type="range" min="0" max="6" value="0" id="rangeMaxWidth" step="0.5">
        <div class="value" id="valueWidth">0 m以下</div>
    </div>
    <button class="main-selector-button">確認</button>
    <script src="../static/JS/selector.js"></script>
    <script src="../static/JS/base.js"></script>
    {% include 'foot.html' %}
</body>
</html>