<div class="black-back" id="black-back">
    <div class="signin-container" id="signin-container">
        <div class="header">
            <div>登入帳戶</div>
            <button class="close" id="close-signin"><img src="../static/IMAGE/close.png"></button>
        </div>
        <form class="signin-form" id="signin-form" action="/signin" method="PUT">
            <div class="input-box">
                <label for="account" class="consistent-text">帳號：</label>
                <input type="text" id="account" name="account" class="text" placeholder="請輸入帳號">
            </div>
            <div class="input-box">
                <label for="password" class="consistent-text">密碼：</label>
                <input type="text" id="password" name="password" class="text" placeholder="請輸入密碼">
            </div>
            <button class="signin-button" id="signin-button">登入</button>
            <div class="signon-go-container">還沒有帳戶？<button class="go-signon" id="go-signon">點此註冊</button></div>
        </form>
        <div class="alert_informations" id="signin-alert"></div>
        <div class="footer"></div>
    </div>

    <div class="signup-container" id="signon-container">
        <div class="header">
            <div>註冊帳戶</div>
            <button class="close" id="close-signon"><img src="../static/IMAGE/close.png"></button>
        </div>
        <form class="signup-form" id="signup-form" action="/signup" method="POST">
            <div class="input-box">
                <label for="account" class="consistent-text">帳號：</label>
                <input type="text" id="account-signup" name="account-signup" class="text" placeholder="請輸入帳號">
            </div>
            <div class="input-box">
                <label for="password" class="consistent-text">密碼：</label>
                <input type="text" id="password-signup" name="password-signup" class="text" placeholder="請輸入密碼">
            </div>
            <!-- <div class="input-box">
                <label for="name" class="consistent-text">姓名：</label>
                <input type="text" id="name" name="name" class="text" placeholder="請輸入姓名">
            </div> -->
            <div class="input-box">
                <label for="e-mail" class="consistent-text">e-mail：</label>
                <input type="text" id="email" name="e-mail" class="text" placeholder="請輸入電子郵件">
            </div>
            <div class="alert_informations" id="signup-alert"></div>
            <button class="signup-button" id="signup-button">註冊新帳戶</button>
            <div class="signin-return-container">已經有帳戶了？<button class="return-signin" id="return-signin">點此登入</button></div>
        </form>
        <div class="footer"></div>
    </div>
   </div> 